body {
	padding: 0;
	margin: 0;
	font-family: 'Karla', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	min-height: 600px;
	color: black;
}

.wrapper {
	margin: -4px auto;
	min-height: 600px;
}

.button {
	display: inline-block;
	margin-right: 10px;
	margin-top: 10px;
	font-size: 12px;
	padding: 8px 15px 8px 10px;
	color: inherit;
	border: 1px solid rgba(1, 1, 1, 0.1);
	box-sizing: border-box;
	font-family: 'Space Mono', monospace;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	opacity: 1;
}

.button:hover {
	opacity: 1;
	border: 1px solid rgba(1, 1, 1, 1);
}

#work .button {
	border: 1px solid rgba(255, 255, 255, 0.1);
}

#work .button:hover {
	border: 1px solid rgba(255, 255, 255, 1);
}

.button:after {
	position: relative;
	content: '   →';

}

.section {
	width: 100%;
	float: left;
	padding: 4vw 4vw 16vw 4vw;
	box-sizing: border-box;
	position: relative;
}

.last {
	padding: 4vw 4vw 4vw 4vw !important;
}

.section ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}


ul, menu, dir {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}


/*
========================================================== 
	TYPOGRAPHY 
========================================================== 
*/

@font-face {
	font-family: 'synebold';
	src: url('syne-bold-webfont.woff2') format('woff2'),
		 url('syne-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'syneextra';
	src: url('syne-extra-webfont.woff2') format('woff2'),
		 url('syne-extra-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'syneitalic';
	src: url('syne-italic-webfont.woff2') format('woff2'),
		 url('syne-italic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'synemono';
	src: url('syne-mono-webfont.woff2') format('woff2'),
		 url('syne-mono-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'syneregular';
	src: url('syne-regular-webfont.woff2') format('woff2'),
		 url('syne-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'youngserif';
    src: url('youngserif-regular-webfont.woff2') format('woff2'),
         url('youngserif-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


h1 {
	font-size: calc(34px + 3vw);
	line-height: calc(40px + 3vw);
	padding: 2vw 4vw;
	margin-left: -4vw;
	font-family: 'youngserif';
	font-weight: bolder;
	text-align: left !important;
	position: absolute;
	margin-top: calc(-30px - 6vw);
}

h2 {
	font-size: calc(16px + 1.5vw);
	line-height: 2.5vw;
	display: block;
	margin: 10px 0 20px 0;
	padding: 0;
	font-family: 'Karla';
	font-weight: 900;
}


h3 {
	font-size: calc(16px + 1.6vw);
	line-height: calc(20px + 1.8vw);
	color: #343434;
	margin-top: -20px;
	margin-bottom: 20px;
	padding: 0;
	font-family: 'Karla';
	font-weight: 100;
}

h4 {
	font-family: 'Karla';
	font-weight: bolder;
	font-size: calc(18px + .15vw);
	margin: 0;
}


h5 {
	margin: 0;	
	font-family: 'Karla';
	font-weight: bolder;
	font-size: calc(12px + .3vw);
	font-weight: 300;
	opacity: .7;
	margin-top: 10px;
	margin-bottom: 10px;
}
	
	
h6 {
	font-family: 'Space Mono', monospace;
	margin: 0;
	opacity: .7;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 300;
	font-size: 12px;
	padding-bottom: 5px;
}


p {
	padding: 0;
	margin: 0 0 10px 0;
	font-size: 24px;
	line-height: 28px;
	opacity: .7;    
	letter-spacing: -.6px;
}

a {
	text-decoration: none;
	color: black;
}

.syne {
	font-family: syneitalic;
}



/*
========================================================== 
	HEADER 
========================================================== 
*/

.header {
	width: 100vw;
	padding: 15px 20px;
	margin: 0;
	box-sizing: border-box;
/*	z-index: 999;*/
	overflow: hidden;	
	font-family: 'youngserif';
	font-weight: 900;
	display: inline-block;
/*	background-color: black;*/
	color: white;
	position: fixed;
}

.logo {
 	display: inline-block;
/* 	width: 44px;
 	height: 44px;
 	border-radius: 50%;*/
 	font-size: 24px;
 	text-align: center;
 	line-height: 0;
 	padding-top: 18px;
 	box-sizing: border-box;
/* 	border: 1px solid white;*/
 }
 .logo a {
 	color: white;
 }

.contact {
	display: inline-block;
	float: right;
}


.contact a {	
	opacity: .7;
	font-size: 20px;
	display: inline-block;
	text-transform: uppercase;

	margin-left: 10px;
	padding: 10px;

	font-family: 'Space Mono', monospace;
	font-size: 11px;
	letter-spacing: 3px;
	color: white;
}

.contact a:hover {
	opacity: 1;
	text-decoration: none;
}
 
.contact a:visited {
	color: white;
 }

 


/*
========================================================== 
	HERO 
========================================================== 
*/

.hero {
	width: 100%;
	box-sizing: border-box;

	background-color: #1f222b;
	color: white;

	background-image: url(../img/bg.jpg);
	background-size: 100% auto;
	background-position: center -35vh;
	background-repeat: no-repeat;
	background-blend-mode: lighten;
}

.intro {
	padding: 45vw 15vw 15vw 15vw;
}

.intro a:hover {
	text-decoration: underline;
}

.intro h1 {
	position: relative;
	font-size: calc(20px + 3vw);
	line-height: calc(24px + 3.1vw);
	padding: 0vw 0vw 2vw 4vw;
}

.intro p {
	font-size: calc(14px + 1vw);
	line-height: calc(16px + 1.6vw);

	display: block;
	margin: 10px 0 36px 0;
	padding: 0;
	font-family: 'Karla';
	font-weight: 500;
/*	text-align: justify;*/
	letter-spacing: -1px;	
}

.column {
	float: left;
	width: 48%;
	margin-right: 4%;
	box-sizing: border-box;
}

.intro:after {
  content: "";
  display: table;
  clear: both;
}


/*
========================================================== 
	ESSAYS 
========================================================== 
*/

#essays {
	display: block;
	position: flex;
	width: 100%;
	text-align: center;
}

#essays, #essays h1 {
	background-color: #f7f7f7;		
}

#essays ul {
	margin-top: 2vw;
	width: 100%;
}

#essays li {
	position: relative;
	display: inline-block;
	float: left;
	
	background-color: gray;
	
	box-sizing: border-box;
    list-style-type: none !important;
    
    padding: 0;
    margin: 2vw 2vw 0vw 0vw;
   
    
    
    width: 21vw;
	height: 30vw;
	min-width: 175px;
    min-height: 260px;
	
	position: relative;
	box-sizing: border-box;
	
	padding:2vw 2vw 2vw 2vw;
	text-align: left;
}

#essays a {
	display: block;
	width: 100%;
	height: 100%;
}


#essays li img {
	width: 100%;
	height: 100%;
	object-fit: cover;
/*	mix-blend-mode: multiply;*/
}

#essays ul > :first-child {
	margin-left:0;
}

#essays ul > :last-child {
	margin-right:0;
}


#essays h2 {
	text-transform: uppercase;
	font-family: 'Six Caps', sans-serif;
	font-weight: normal;
	
	font-size: calc(28px + 2vw);
	line-height: calc(32px + 2.1vw);
	
	display: block;
	
	margin: 1vw 0;
	padding: 2vw 0;
	
	color: white;
	border-top: 3px white solid;
}

#essays h6 {
	color:white;
	opacity: 1;
	box-sizing: border-box;
	font-weight: bold;
}

.dog-ear {
	visibility: hidden;	
}

.dog-ear p {
	color: white;
	font-family: 'Space Mono', monospace;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 300;
	font-size: 12px;
	line-height: 12px;
	margin-top: -4px;
}

.flip-top {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 40px;
	height: 40px;
	background-color: rgba(0,0,0,0.15);

}

.flip-bottom {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 40px 40px;
	border-color: transparent transparent #F7F7F7 transparent;
}

#essays a:hover + .dog-ear {
	visibility: visible;
}

.expander {
	width: 100%;
	height: 100px;
	background-color: red;
	float: left;
}

#show-more {
	margin: 0 auto;
	margin-top: 4vw;


}

button:focus {outline:0;}

#essays .button:after {
	position: relative;
	content: '';

}
	
	
/*
========================================================== 
	WORK 
========================================================== 
*/



#work, #work h1 {
	background-color: #1f1f1f;
	color: white;
}

#work h1 {
	margin-left: 0;
	z-index: 2;
}

.section#work {
	padding: 0;
}

#work {
	position: relative;
}

.gradient {
	box-sizing: border-box;
	position: absolute;
	top: -50px;
/*	height: 15vh;*/
	min-height: 200px;
	width: 100%;
	z-index: 1;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1f1f1f+0,1f1f1f+50,1f1f1f+100&1+0,1+50,0+100 */
	background: -moz-linear-gradient(top, rgba(31,31,31,1) 0%, rgba(31,31,31,1) 50%, rgba(31,31,31,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(31,31,31,1) 0%,rgba(31,31,31,1) 50%,rgba(31,31,31,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(31,31,31,1) 0%,rgba(31,31,31,1) 50%,rgba(31,31,31,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f1f1f', endColorstr='#001f1f1f',GradientType=0 ); /* IE6-9 */
}

.project {
	width: 100%;
	height: 100vh;
	margin:0;
	position: relative;
    
	box-sizing: border-box;
	background-color: black;
	
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;

}


.description {
	width: 50vw;
	max-width: 500px;
	position: absolute;
	right: 4vw;
	top: 30%;
	padding: 40px;
}

.description p {
	margin: 10px 0px 30px 0;
}


.description:hover {}




li.project:nth-child(even) .description {
	left: 4vw;
	right: auto;
}​



.video {
	position: absolute;
	top: 0;
	object-fit: cover;
	width: 100%;
	z-index: 1;
}

.facebook-360 {
	background-image: url(../img/facebook-360.jpg);
}

.fb-photos {
	background-image: url(../img/360-photos.jpg);
	background-position: right;
}

.facebook-stories {
	background-image: url(../img/facebook-stories.jpg);
}

.automatic {
	background-image: url(../img/automatic.jpg);
}


/*
========================================================== 
	EXPERIMENTS 
========================================================== 
*/

#experiments {
	display: block;
}

#experiments, #experiments h1 {
	background-color: #fff;		
}

#experiments h4 {
	margin-bottom: 10px;
}

#experiments li {
	position: relative;

	display: inline-block;

	padding: 0;
    list-style-type: none !important;
    margin: 3vw 2vw 3vw 0vw;

    box-sizing: border-box;
/*    border: 1px solid #f3f3f3;*/
    border-left: 6px solid white;

    width: 40vw;
    min-width: 200px;
    height: auto;
}

#experiments li:hover {
	border-left: 6px solid #f3f3f3;
	/*background-color: #f3f3f3;*/
	/*box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.05);*/
}

#experiments ul > :first-child {
	margin-left:0;
}

#experiments ul > :last-child {
	margin-right:0;
}

#experiments img {
	width: 100%;
	object-fit: cover;
}

#experiments .title {
	background-color: transparent;
	position: relative;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 20px;
/*	transform: rotate(-90deg);
	transform-origin: top left;
	margin-bottom: -7vw;
	width: 26vw;*/
}



/*
========================================================== 
	FOOTER 
========================================================== 
*/

footer {
	text-align: center;
	width: 100%;
	padding: 0;
	float: left;
}


footer p, footer a, footer a:visited {
	margin:0;
	padding: 0;
	text-decoration: none;
	color: black;
	font-size: 11px;
	opacity: .5;
}

footer a:hover {
	text-decoration: none;
	opacity: 1;
}

footer .left, footer .right {
	float: left;
	width: 45%;
	box-sizing: border-box;
	border-top: 2px #f1f1f1 solid; 
	padding: 30px 0;
	font-family: 'Space Mono';
}


footer .left {
	text-align: left;
	margin-left: 4vw;
	text-transform: uppercase;
}

footer .left p {
	letter-spacing: 1px !important;
}

footer .right, footer .right p {
	text-align: right;
	font-family: 'syneitalic';
	font-size: 16px;
}

footer .right p {
	opacity: .4;
}



/*
========================================================== 
	MUSIC 
========================================================== 
*/


.albums {
	list-style: none;
}

.albums li {
	float: left;
	margin: 2vw;
}

.albums li:hover {
}


.album-art {
	border: 0; 
	width: 27vw;
	min-width: 400px;
	height: 460px;
}




/*
========================================================== 
	TIMELINE 
========================================================== 
*/



.timeline {
	display: flex;
	flex-direction:column;
	width: 100%;
	padding-bottom: 5px;
}

.timeline > li {
	margin: 0;
	position: relative;
	list-style-type: none;
	margin-bottom: -6px;
	display: block;
	width: 100%;
}

.timeline-date {
	width: 100px;
	float: left;
	margin-left: -38px;
	padding: 15px 20px 4px 0;
	text-align: right;
	font-family: 'synebold';
}
.timeline-content {
	border-left: 2px #ccc solid;
	padding-left: 20px;
	word-wrap: break-word;
	display: block;
	padding: 20px 20px 0px 20px;
	float:left;
	width: 80%;
}

.timeline-content:before {
	position: absolute;
	content: '';
	width: 8px;
	height: 8px;
 	border: 2px solid #ccc;
	background: white;
	left: 77px;
	top: 24px;
	border-radius: 100%;
}

.timeline p {}

.timeline-content p {
	margin: 0;
	padding: 0 0 10px 0;
}

.timeline-content p a {
	font-style: italic;	
	color: inherit;
	text-decoration: none;
}

.timeline-content p a:hover {
	text-decoration: underline;
}


/*
========================================================== 
	MOBILE 
========================================================== 
*/

@media only screen and (max-width: 720px)  {



.desktop {
	display: none;
}


.button {
	font-size: 10px;
	margin-right: 8px;
}

#work .button {
	border: 1px solid rgba(255, 255, 255, .5);
}

.gradient {
	z-index: 1;
	top: 0;
}

.section {
	padding-bottom: 40px;
}

/* MOBILE > TYPOGRAPHY */


p {
	margin: 10px 0px;
	padding: 0;
	font-size: 16px;
	line-height: 22px;
	font-weight: 300;
}

h1 {
	position: relative;
	background-color: none;
	z-index: 2;
	margin-top: 0;
	margin-bottom: 4px;
	font-size: 28px;
	line-height: 32px;
}

h3 {
	margin-top: 60px;
}

h4 {
	font-size: 15px;
}

h6 {
	font-size: 10px;
}


/* MOBILE > HERO */

.hero {
	padding: 8vw 4vw;
	margin: 0 auto;
	background-image: none;
}

.hero p {
	line-height: calc(24px + 1vw);
	text-align: left;
	margin-bottom: 20px;
}

.intro {
	padding: 0;
}

.column {
	width: 100%;
	margin-right: 0;
}



/* MOBILE > ESSAYS  */

#essays li {
	width: 48%;
	margin-right: 4%;
	margin-bottom: 2%;
	min-width: 0;
/*	box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.05);
*/}

#essays li:nth-child(even) {
	margin-right: 0;
}

#essays h2 {
/*	font-size: calc(30px + 2.2vw);*/
	line-height: calc(40px + 1.4vw);
}

.dog-ear p {
	display: none;
}

/* MOBILE > WORK */


.gradient {
	margin-top: 20px;
}

#work h1 {
	padding-top: 30px;
}

.project {
	overflow: hidden;
	height: calc(500px + 20vw);
}

.description {
	position: absolute;
	padding-left: 4vw;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
	/*GRADIENT*/
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
}

li.project {
	margin-left: 0;
	margin-bottom: 0;
}

li.project:nth-child(even) .description {
	left: 0;
}

li.project .description {
	left: 0;
	right: auto;
	bottom: 0;
	width: 90%;
	top: auto;
}​


.facebook-360 {
	background-position: 20% !important;
}

.fb-photos {
	background-position: right;
}

.facebook-stories {
	background-position: 20%;
}

.automatic {
	
}

/* MOBILE > EXPERIMENTS  */

#experiments li {
	width: 100%;
	box-sizing: border-box;
	padding: 0vw 0vw 32px 0;
	border-left: none;
	border-bottom: 1px solid #f3f3f3;	
}

#experiments ul > :last-child {
	border-bottom: none;
	padding-bottom: 0;
}

#experiments li:hover {
	border-left: none;
}

#experiments .title {
	padding:0;
}



/* MOBILE > FOOTER */


footer {
	margin-top: 4px;
}

footer p, footer p a {
	font-size: 10px;
}

footer .left, footer .right, footer .right p {
	width: 100%;
	text-align: center;
	margin: 0;
	border: none;
	padding: 20px 40px;
	box-sizing: border-box;
}

footer .right {
	padding: 0;
	padding-bottom: 20px;
}


footer .right, footer .right p {
	font-size: 14px;
}

footer .left {
	border-top: 2px #f1f1f1 solid; 
}


/*MOBILE > TIMELINE*/

.timeline {
	margin:0;
	padding: 0;
}

.timeline-date {
	width: 50px;
	margin: 14px 0 0 0;
	float: left;
	padding: 5px 20px 4px 0;
	text-align: right;
	font-family: 'synebold';
}

.timeline-content {
	border-left: 2px #ccc solid;
	padding-left: 20px;
	float:none;
	margin-left:70px;
	width: auto;
}

.timeline-content:before {
 	position: absolute;
 	content: '';
	width: 8px;
	height: 8px;
	border: 2px solid #ccc;
	background: white;
	left: 65px;
	top: 24px;
	border-radius: 100%;
}

/*MOBILE > MUSIC*/

.albums {
	padding-top: 4vw;
	padding-left: 5vw;
}

.albums li {
	float: left;
	margin: 0;
	margin-bottom: 8vw;
}

.albums li:hover {
}


.album-art {
	border: 0; 
	width: 90vw;
	min-width: 0;
	height: 450px;
}


}
