body {
	padding: 0;
	margin: 0;
	font-family: 'Chivo', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	min-height: 600px;
	color: #343434;
}

.wrapper {
	margin: 0 auto;
	padding-left: 60px;
	min-height: 600px;
}

.button {
	display: inline-block;
	margin-right: 10px;
	margin-top: 10px;
	font-size: 12px;
	padding: 8px 15px 8px 10px;
	color: inherit;
	border: 1px solid rgba(1, 1, 1, 0.1);
	box-sizing: border-box;
	font-family: 'Space Mono', monospace;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	opacity: 1;
}

.button:hover {
	opacity: 1;
	border: 1px solid rgba(1, 1, 1, 1);
}

#work .button {
	border: 1px solid rgba(255, 255, 255, 0.1);
}

#work .button:hover {
	border: 1px solid rgba(255, 255, 255, 1);
}

.button:after {
	position: relative;
	content: '   →';

}

.section {
	width: 100%;
	float: left;
	padding: 4vw 4vw 16vw 4vw;
	box-sizing: border-box;
}

.last {
	padding: 4vw 4vw 4vw 4vw !important;
}

.section ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}


ul, menu, dir {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}


/*---- TYPOGRAPHY ----*/

@font-face {
	font-family: 'synebold';
	src: url('syne-bold-webfont.woff2') format('woff2'),
		 url('syne-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'syneextra';
	src: url('syne-extra-webfont.woff2') format('woff2'),
		 url('syne-extra-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'syneitalic';
	src: url('syne-italic-webfont.woff2') format('woff2'),
		 url('syne-italic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'synemono';
	src: url('syne-mono-webfont.woff2') format('woff2'),
		 url('syne-mono-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'syneregular';
	src: url('syne-regular-webfont.woff2') format('woff2'),
		 url('syne-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


h1 {
	font-size: calc(24px + 3vw);
	line-height: calc(28px + 3.7vw);
	padding: 2vw 4vw;
	margin-left: -4vw;
	font-family: 'synebold';
	font-weight: normal;
	text-align: left !important;
	position: absolute;
	margin-top: calc(-30px - 6vw);
}

h2 {
	font-size: calc(16px + 1.5vw);
	line-height: 2.5vw;
	display: block;
	margin: 10px 0 20px 0;
	padding: 0;
	font-family: 'synebold';
	font-weight: 900;
}


h3 {
	font-size: calc(16px + 1.6vw);
	line-height: calc(20px + 1.8vw);
	color: #343434;
	margin-top: -20px;
	margin-bottom: 20px;
	padding: 0;
	font-family: 'synebold';
	font-weight: 100;
}

h4 {
	font-family: 'Chivo';
	font-weight: bolder;
	font-size: calc(18px + .15vw);
	margin: 0;
}


h5 {
	margin: 0;	
	font-family: 'Chivo';
	font-weight: bolder;
	font-size: calc(12px + .3vw);
	font-weight: 300;
	opacity: .7;
	margin-top: 10px;
	margin-bottom: 10px;
}
	
	
h6 {
	font-family: 'Space Mono', monospace;
	margin: 0;
	opacity: .7;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 300;
	font-size: 12px;
	padding-bottom: 5px;
}


p {
	padding: 0;
	margin: 0 0 10px 0;
	font-size: 18px;
	line-height: 26px;
	opacity: .7;    
}

a {
	text-decoration: none;
	color: black;
}



/*---- HEADER ----*/

.header {
	position: fixed;
	margin-top: 100vh;
	background-color: #343434;
	width: 100vh;
	min-width: 600px;
	height: 60px;
	padding: 15px 20px;
	box-sizing: border-box;
	z-index: 999;
	overflow: hidden;	
	transform: rotate(-90deg);
	transform-origin: top left;
	font-family: 'syneextra';
}

.header a {
	font-size: 20px;
}

.contact a {
	display: inline-block;
	font-size: 24px;
	color: white;
	float: right;  
	font-size: calc(10px + .1vw);
	letter-spacing: 1px;
	opacity: .7;
	display: inline-block;
	text-transform: uppercase;
	color: white;
	text-transform: uppercase;
	margin-left: 20px;
	margin-top: -25px;
	padding: 10px;
}
 
.header a:hover {
	text-decoration: none;
 }
 
.header a:visited {
	color: white;
 }
 




/*---- INTRO ----*/

.intro {
	width: 100%;
	min-height: 90vh;
	box-sizing: border-box;
	display: flex;
	background-color: white;
}


.left, .right {
	padding: 4vw;
	box-sizing: border-box;
}


.right {
	width: 50%;
}

.left {
	width: 50%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.intro a:hover {
	text-decoration: underline;
}


/*----- ESSAYS ----- */

#essays {
	display: block;
}

#essays, #essays h1 {
	background-color: #f7f7f7;		
}

#essays li {
	display: inline-block;
	background-color: gray;
	padding: 0;
    list-style-type: none !important;
    margin: 4vw 2vw 0vw 0vw;
    box-sizing: border-box;
    min-width: 175px;
    height: 30vw; 
    min-height: 260px;
	position: relative;
}

#essays li img {
	width: 100%;
	height: 100%;
	object-fit: cover;
/*	mix-blend-mode: multiply;*/
}

#essays ul > :first-child {
	margin-left:0;
}

#essays ul > :last-child {
	margin-right:0;
}

.title {
	position: absolute;
	bottom: 0;
	padding: 2vw;
	background-color: #fff;
	box-sizing: border-box;
	width: 100%;
}

#essays li:hover {
	box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.05);
	margin-top: 3vw;
}


/*----- TALKS ----- */

/*.talks {
	display: block;
}

.talks, .talks h1 {
	background-color: #fff;	
	min-height: 600px;
}

.talks li {
	display: inline-block;
	background-color: yellow;
	padding: 0;
    list-style-type: none !important;
    margin: 4vw 2vw 0vw 0vw;
    box-sizing: border-box;
	position: relative;

	width: 42vw;
    min-width: 160px;
    min-height: 90px;
    height: 20vw;
}

.talks ul > :first-child {
	margin-left:0;
}

.talks ul > :last-child {
	margin-right:0;
}*/

/*----- SIDE PROJECTS ----- */

.experiments {
	display: block;
}

.experiments, .experiments h1 {
	background-color: #fff;		
}

.experiments h4 {
	margin-bottom: 10px;
}

.experiments li {
	position: relative;

	display: inline-block;

	padding: 0;
    list-style-type: none !important;
    margin: 3vw 2vw 3vw 0vw;

    box-sizing: border-box;
/*    border: 1px solid #f3f3f3;*/
    border-left: 6px solid white;

    width: 40vw;
    min-width: 200px;
    height: auto;
}

.experiments li:hover {
	border-left: 6px solid #f3f3f3;
	/*background-color: #f3f3f3;*/
	/*box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.05);*/
}

.experiments ul > :first-child {
	margin-left:0;
}

.experiments ul > :last-child {
	margin-right:0;
}

.experiments img {
	width: 100%;
	object-fit: cover;
}

.experiments .title {
	background-color: transparent;
	position: relative;
	padding-top: 0;
	padding-bottom: 0;
/*	transform: rotate(-90deg);
	transform-origin: top left;
	margin-bottom: -7vw;
	width: 26vw;*/
}

	
	
/*---- WORK ----*/



#work, #work h1 {
	background-color: #1f1f1f;
	color: white;
}

#work h1 {
	margin-left: 0;
	z-index: 2;
}

.section#work {
	padding: 0;
}

#work {
	position: relative;
}

.gradient {
	box-sizing: border-box;
	position: absolute;
	top: -50px;
/*	height: 15vh;*/
	min-height: 200px;
	width: 100%;
	z-index: 1;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1f1f1f+0,1f1f1f+50,1f1f1f+100&1+0,1+50,0+100 */
	background: -moz-linear-gradient(top, rgba(31,31,31,1) 0%, rgba(31,31,31,1) 50%, rgba(31,31,31,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(31,31,31,1) 0%,rgba(31,31,31,1) 50%,rgba(31,31,31,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(31,31,31,1) 0%,rgba(31,31,31,1) 50%,rgba(31,31,31,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f1f1f', endColorstr='#001f1f1f',GradientType=0 ); /* IE6-9 */
}

.project {
	width: 100%;
	height: 100vh;
	margin:0;
	position: relative;
    
	box-sizing: border-box;
	background-color: black;
	
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;

}


.description {
	width: 100%;
	color: #fff;
	box-sizing: border-box;

	position: absolute;
	top: 50%;
	margin-top: -140px;

	padding: 20px;
/*	border: 3px solid black;
	background-color: white;*/
	z-index: 2;
	transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
}

.description p {
	margin: 10px 0px 30px 0;
}


.video {
	position: absolute;
	top: 0;
	object-fit: cover;
	width: 100%;
	z-index: 1;
}



.facebook-360 {
	background-image: url(../img/facebook-360.jpg);
}

.fb-photos {
	background-image: url(../img/360-photos.jpg);
	background-position: right;
}

.facebook-stories {
	background-image: url(../img/facebook-stories.jpg);
}

.automatic {
	background-image: url(../img/automatic.jpg);
}


/*---- FOOTER ----*/

footer {
	text-align: center;
	width: 100%;
	padding: 0;
	float: left;
}


footer p, footer a, footer a:visited {
	margin:0;
	padding: 0;
	text-decoration: none;
	color: black;
	font-size: 12px;
}

footer a:hover {
	text-decoration: underline;
}

footer .left, footer .right {
	float: left;
	width: 45%;
	box-sizing: border-box;
	border-top: 2px #f1f1f1 solid; 
	padding: 30px 0;
}


footer .left {
	text-align: left;
	margin-left: 4vw;
	opacity: .7;
	text-transform: uppercase;
	letter-spacing: 1px;
}

footer .right, footer .right p {
	text-align: right;
	font-family: 'syneitalic';
	font-size: 16px;
}

footer .right p {
	opacity: .4;
}



/*---- MUSIC ----*/


.albums {
	list-style: none;
}

.albums li {
	float: left;
	margin: 2vw;
}

.albums li:hover {
}


.album-art {
	border: 0; 
	width: 27vw;
	min-width: 400px;
	height: 450px;
}




/*---- TIMELINE ----*/



.timeline {
	display: flex;
	flex-direction:column;
	width: 100%;
	padding-bottom: 5px;
}

.timeline > li {
	margin: 0;
	position: relative;
	list-style-type: none;
	margin-bottom: -6px;
	display: block;
	width: 100%;
}

.timeline-date {
	width: 100px;
	float: left;
	margin-left: -38px;
	padding: 15px 20px 4px 0;
	text-align: right;
	font-family: 'synebold';
}
.timeline-content {
	border-left: 2px #ccc solid;
	padding-left: 20px;
	word-wrap: break-word;
	display: block;
	padding: 20px 20px 0px 20px;
	float:left;
	width: 80%;
}

.timeline-content:before {
	position: absolute;
	content: '';
	width: 8px;
	height: 8px;
 	border: 2px solid #ccc;
	background: white;
	left: 77px;
	top: 24px;
	border-radius: 100%;
}

.timeline p {}

.timeline-content p {
	margin: 0;
	padding: 0 0 10px 0;
}

.timeline-content p a {
	font-style: italic;	
	color: inherit;
	text-decoration: none;
}

.timeline-content p a:hover {
	text-decoration: underline;
}



/*-------- DESKTOP --------*/


@media only screen and (min-width: 721px)  {

.mobile {
	display: none;
}


/* DESKTOP > INTRO */


.intro p {}

.intro .left {
	width: 100%;
}

.intro .right {
	display: none;
}


/* DESKTOP > ESSAYS */

#essays li {
	width: 40vw;
}
	


/* DESKTOP > WORK */


.description {
	width: 50vw;
	max-width: 500px;
	position: absolute;
	right: 4vw;
	padding: 40px;
}


.description:hover {}




li.project:nth-child(even) .description {
	left: 4vw;
	right: auto;
}​


}

/*-------- DESKTOP -XL -------*/

@media only screen and (min-width: 960px)  {
	
.intro {
	background-image: url(../img/profile2.jpg);
	background-size: 90vh auto;
	background-repeat: no-repeat;
	background-position: 42vw 0vw;
}

.intro .left {
	width: 45%;
}


#essays li {
	width: 19.5vw;
}
	
}


/*-------- MOBILE --------*/

@media only screen and (max-width: 720px)  {



.desktop {
	display: none;
}

.wrapper {
	padding-left: 0;
	padding-top: 40px;
}

.button {
	font-size: 10px;
	margin-right: 8px;
}

/* MOBILE > TYPOGRAPHY */


p {
	margin: 10px 0px;
	padding: 0;
	font-size: 16px;
	line-height: 22px;
	font-weight: 300;
}

h1 {
	position: relative;
	background-color: none;
	z-index: 2;
	margin-top: 0;
}

h3 {
	margin-top: 60px;
}

h4 {
	font-size: 15px;
}

h6 {
	font-size: 10px;
}

.gradient {
	z-index: 1;
}

.section {
	padding-bottom: 80px;
}


/* MOBILE > INTRO */

.intro {
	padding-bottom: 8vw;
}


.intro .left, .intro .right {
	width: 100%;
}

.intro .right {
/* 	display: none; */
	height: 400px;
	position: absolute;
	background-image: url(../img/profile.jpg);
	background-size: cover;
	background-position: center center; 
}

.intro .left {
	margin-top:350px;
}



/* MOBILE > HEADER */


.header {
	margin-top: 0;
	width: 100vw;
	min-width: 0;
	height: 44px;
	padding: 8px 10px;
	transform: rotate(0deg);
}




/* MOBILE > ESSAYS  */

#essays li {
	width: 42vw;
	box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.05);
}

#essays li:nth-child(even) {
	margin-right: 0;
}

.title {
	padding: 4vw;
}

/* MOBILE > SIDE PROJECTS  */

.experiments li {
	width: 100%;
	box-sizing: border-box;
	padding-bottom: 2vw;
	padding-top: 2vw;
	border-left: none;
}

.experiments li:hover {
	border-left: none;
}

.experiments .title {
	padding:0;
}

/* MOBILE > WORK */


.gradient {
	margin-top: 20px;
}

.project {
	overflow: hidden;
	height: calc(500px + 20vw);
}

.description {
	border: none;
	position: absolute;
	top: auto;
}

li.project {
	width: 100%;
	margin-left: 0;
	margin-bottom: 0;
}

li.project .description {
	left: 0;
	right: auto;
	bottom: 0;
}​

li.project:nth-child(even) .description {
	right: 0;
	left: auto;
	bottom: 0;
}



.video {
	display: none;
}




.facebook-360 {
	background-position: 20%;
}

.fb-photos {
	background-position: right;
}

.facebook-stories {
	background-position: 20%;
}

.automatic {
	
}



/* MOBILE > FOOTER */


footer {
	margin-top: 4px;
}

footer p, footer p a {
	font-size: 10px;
}

footer .left, footer .right, footer .right p {
	width: 100%;
	text-align: center;
	margin: 0;
	border: none;
	padding: 20px 40px;
	box-sizing: border-box;
}

footer .right {
	padding: 0;
	padding-bottom: 20px;
}


footer .right, footer .right p {
	font-size: 14px;
}

footer .left {
	border-top: 2px #f1f1f1 solid; 
}


/*MOBILE > TIMELINE*/

.timeline {
	margin:0;
	padding: 0;
}

.timeline-date {
	width: 50px;
	margin: 14px 0 0 0;
	float: left;
	padding: 5px 20px 4px 0;
	text-align: right;
	font-family: 'synebold';
}

.timeline-content {
	border-left: 2px #ccc solid;
	padding-left: 20px;
	float:none;
	margin-left:70px;
	width: auto;
}

.timeline-content:before {
 	position: absolute;
 	content: '';
	width: 8px;
	height: 8px;
	border: 2px solid #ccc;
	background: white;
	left: 65px;
	top: 24px;
	border-radius: 100%;
}

/*MOBILE > MUSIC*/

.albums {
	padding-top: 4vw;
	padding-left: 5vw;
}

.albums li {
	float: left;
	margin: 0;
	margin-bottom: 8vw;
}

.albums li:hover {
}


.album-art {
	border: 0; 
	width: 90vw;
	min-width: 0;
	height: 450px;
}


}
