body  {
/* 	background-color: #f7f7f7; */
	height: 100%;
    margin: 0;
    width:100%;
    padding:0;
	font-family: 'adelle-sans', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #f7f7f7;
	-webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    font-size: 16px;
	font-weight: 300;
	color: #373737;

}


.section {
	width: 100%;
	min-width: 960px;
	height: 100vh;
	max-height: 100vw;
	min-height: 600px;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	padding: 4%;
	border-bottom: .5px solid rgba(0,0,0,0.05);
}

.section p {
	width: 30%;
	min-width: 320px;
	max-width: 600px;
	z-index: 5;
}


.section-image {
	width: 65%;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 4;
	text-align: right;
}

.section-image img {
	height:100vh;
	min-height: 800px;
	vertical-align: middle;
}

.pages {
	background-image: url(img/pages-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.column {
	width: 50%;
	height: 100%;
	padding: 4%;
	box-sizing: border-box;
}

.left {
	float: left;
	background-color: blue;

}

.right {
	float: right;
	background-color: yellow;
}

.center {
	background-color: red;
	width: 100% !important;
}




/* TYPOGRAPHY */


p {
	font-size: 1.4em;
	line-height: 1.5em;
	color: #666;
	font-weight: 400;
}

p a, a {
	color: #666;
	text-decoration: none;
	display: inline-block;
	font-style: italic;
}

p a:hover, a:hover {
	border-bottom: 1px solid #666;
}



h1 {
	font-weight: 700;
	font-size: 700px;
	color: #373737;
	letter-spacing: -2px;
	display: inline-block;
	text-overflow: clip;
	color: rgba(53,53,53,1);
}

h2 {
	font-size: 2.5em;
	display: block;
	margin-bottom: 4%;
	margin-top: 0;
}


h3 {
	color: #999;
	font-weight: 600;
	font-size: .8em;
	display: block;
	margin-bottom: -10px;
	margin-top: 4px;
/* 	font-style: italic; */
	text-transform: uppercase;
	letter-spacing: .2em;
}






/* HEADER */

.header {
	position: fixed;
	width: 100%;
	height: 100px;
	box-sizing: border-box; 
}

.header p {
	font-weight: bold;
	padding: 0px 40px;;
	font-size: 48px;
	color: #373737;
}




/* INTRO */


.intro {
	background: url(img/profile.jpg);
	background-repeat: none;
	background-size: cover;
	background-position: left bottom;	
	padding: 100px 200px;
}

.intro h1 {
	position: absolute;
	bottom:-35vw;
	left:-200px;
	z-index: 1;
	font-size: 50vw;
}




.intro ul {
	max-width: 80%;	
	width: 600px;
	z-index: 4;
	background-color: white;
	padding: 20px 40px;
	position: absolute;
	top: 30%;
	left: 10%;
	box-sizing: border-box;
}

.intro li {
	display: inline-block;
	color: rgba (53, 53, 53, .5);
	margin: 8px 4px;
	font-size: 28px;
	font-weight: 500;
	z-index: ;
}


/* FACEBOOK VR */


.two {
	background-color: white;
}



/* THREE */


.three {
	background-color: #f8f8f8;
}



/* FOUR */

.four {
	background-color: white;
}



/* FIVE */


.five {
	background-color: #f8f8f8;
}



/* SIX */

.six {
	background-color: white;
}



/* SEVEN */

.seven {
	background-color: #f8f8f8;
}



/* EIGHT */

.eight {
	background-color: white;
}


/* NINE */

.nine {
	background-color: #f8f8f8;
}


/* TEN */

.ten {
	background-color: white;
}


/* ELEVEN */

.eleven {
	background-color: #f8f8f8;
}




/* FOOTER */

.footer {
	float: left;
	text-align: center;
	padding-bottom: 20px;
	margin: 0 auto;
	width: 100%;
	font-size: 0.7em;
	font-weight: 400;
}

.footer p {
	font-weight: 500;
}




/************************** DEPRECATED **************************/






.wrapper {
	width: 90%;
	max-width: 1000px;
	min-width: 800px;
	margin: 0 auto;
}

.title {
	width: 100%;
	min-height: 350px;
	margin:130px auto 180px auto;
}

.title p {
	display: inline-block;
	color: #999;
	font-size: 16px;
}

.title a, h3 a, p a {
	color: #999;
	text-decoration: none;
}

.title a:hover, h3 a:hover, p a:hover {
	border-bottom: 1px solid #999;
}



h1 {
}

.author {
	font-size:30px;
	letter-spacing: normal;
	font-weight: 300;
	font-style: italic;
	margin-top:15px;
	display:block;
	color: #666;
}


.container {
	width: 100%;
	height: 100vh;
	padding-top: 40px;
	margin: 0 auto;
	overflow: hidden;
	box-sizing: border-box;

	-webkit-background-clip: padding-box; 
	   -moz-background-clip: padding; 
	        background-clip: padding-box;
	
	-webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
}


/* FRIEND SHARING */

#composer {
	
}


.container.composer .image {
	text-align: right;
	width: 67%;
	float: left;
}

.container.composer .image img {
	width: 50%;
	min-width: 500px;
}

.container.composer .description {
	width: 33%;
	float: left;
	margin: 300px auto;
}


/* PAGES */

.container.pages {
	padding:100px 0;
}

.container.pages .image {
	width: 67%;
	float: right;
}

.container.pages .image img {
	width: 100%;
	margin: 0 auto;
}

.container.pages .description {
	margin: 15% auto;
	width: 33%;
	float: left;
	padding-right: 5%;
	box-sizing: border-box;
}


/* AUTOMATIC APP */

.container.automatic-app .image {
	text-align: center;
	width: 67%;
	float: left;
}

.container.automatic-app .image img {
	width: 90%;
}

.container.automatic-app .description {
	margin:30% auto;
	width: 33%;
	float: left;
}

/* AUTOMATIC WEBSITE */

.container.automatic-web .image {
	float: right;
	width: 60%;
}

.container.automatic-web .image img {
	width: 100%;
}

.container.automatic-web .description {
	float: left;
	width: 40%;
	margin: 30% auto;
	padding-right: 10%;
	box-sizing: border-box;
}

/* AUTOMATIC PACKAGE */

.container.automatic-package h2, .container.automatic-package h3, .container.automatic-package p {
	text-align: center;
}

.container.automatic-package .description {
	margin: 50px auto;
}

.container.automatic-package .image {
}

.container.automatic-package .image img {
	width: 100%;
	min-width: 500px;
}



/* MOPRO */


.container.mopro h2, .container.mopro h3, .container.mopro p {
	text-align: center;
}

.container.mopro .description {
	margin: 100px auto 70px auto;
}

.container.mopro .image {
	margin-bottom: 160px;
}

.container.mopro .image img {
	width: 100%;
	min-width: 500px;
}


/* MUSIC */

.album {
	text-align: center;
	margin: 0 auto;
	margin-bottom: 100px;
	margin-top: 100px;
	float:left;
	width: 100%;
}

.leftColumn {
	width: 50%;
	text-align: right;
	margin: 0 auto;
	float: left;
}

.rightColumn {
	width: 50%;
	padding-left: 40px;
	box-sizing: border-box;
	text-align: left;
	margin: 0 auto;
	float:left;
}

/* ABOUT */

.timeline > li {
  overflow: hidden;
  margin: 0;
  position: relative;
  list-style-type: none;
}
.timeline-date {
  width: 110px;
  float: left;
  margin-top: 16px;
  margin-right:20px;
  text-align: right;
}
.timeline-content {
  width: 75%;
  float: left;
  border-left: 1px #666 solid;
  padding-left: 30px;
}

.timeline-content:before {
  content: '';
  width: 8px;
  height: 8px;
  border: 1px solid #666;
  background: #f7f7f7;
  position: absolute;
  left: 126px;
  top: 24px;
  border-radius: 100%;
}


.timeline-content p a {
	font-style: italic;	
}
ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

#countup p {
display: inline-block;
}



}