* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; margin: 0; 
	padding: 0;
}

html { 
	font-size : 100.01%; 
	overflow-y : scroll; 
	-webkit-overflow-scrolling : 
	touch; -webkit-tap-highlight-color : rgba(0,0,0,0); 
	-webkit-text-size-adjust : 100%; 
	-ms-text-size-adjust : 100%; 
	-ms-text-size-adjust : 100%; 
	color : #999; 
	background-position: left top; 
	background-repeat: repeat; 
}

html,body { 
	background: #444; 
	position: relative; 
	font-family: 'source-code-pro', Helvetica, Arial, sans-serif; 
	height: 100%; 
	color: white;
}
    
    
.wrapper { 
    position: absolute; 
    width: 100%; 
    height: 100%; 
    left: 0; 
    right: 0; 
    top: 0; 
    bottom: 0;
     
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;

-webkit-animation-name: ChangeImages;
   -moz-animation-name: ChangeImages;
        animation-name: ChangeImages;
-webkit-animation-duration: 2s;
        animation-duration: 2s;
-webkit-animation-fill-mode: both;
        animation-fill-mode: both;
-webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
}

@-webkit-keyframes ChangeImages {
	 0% { background-image: url('img/1.jpg'); }
	 10% { background-image: url('img/2.jpg'); }
	20% { background-image: url('img/3.jpg'); }
	30% { background-image: url('img/4.jpg'); }
	40% { background-image: url('img/5.jpg'); }
	50% { background-image: url('img/6.jpg'); }
	60% { background-image: url('img/7.jpg'); }
	70% { background-image: url('img/8.jpg'); }
	80% { background-image: url('img/9.jpg'); }
	90% { background-image: url('img/10.jpg'); }
	100% { background-image: url('img/11.jpg'); }
}

@keyframes ChangeImages {
	 0% { background-image: url('img/1.jpg'); }
	 10% { background-image: url('img/2.jpg'); }
	20% { background-image: url('img/3.jpg'); }
	30% { background-image: url('img/4.jpg'); }
	40% { background-image: url('img/5.jpg'); }
	50% { background-image: url('img/6.jpg'); }
	60% { background-image: url('img/7.jpg'); }
	70% { background-image: url('img/8.jpg'); }
	80% { background-image: url('img/9.jpg'); }
	90% { background-image: url('img/10.jpg'); }
	100% { background-image: url('img/11.jpg'); }
}


h1 {
	font-weight: 500;
	font-size: 3em;
}

h2 {
	font-weight: 500;
	font-size: 1.7em;
	
}

p {
	font-weight: 500;
	font-size: 1em;
	display: inline-block;
	margin-top: 10px;
}

p a{
	color: white;
	display: inline-block;
	padding: 0px 2px;;
}

p a:hover {
	background-color: white;
	color: black;
	text-decoration: none;
	display: inline-block;
	padding: 0px 2px;;
}


.glitch{
  width: 550px;
  background:rgba(0,0,0,0.9);
  margin: 0 auto;
  z-index:3;
  padding: 40px;
  max-width:80%;
  
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:after{
  content:attr(data-text);
  position:absolute;
  left:2px;
  text-shadow:-1px 0 red;
  top:0;
  color:white;
  background:black;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim 2s infinite linear alternate-reverse;
}


@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}

.glitch:before{
  content:attr(data-text);
  position:absolute;
  left:-2px;
  text-shadow:1px 0 blue; 
  top:0;
  color:white;
  background:rgba(0,0,0,0.25);
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim-2 3s infinite linear alternate-reverse;
}


@media (max-width: 750px) {

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1em;
}

p {
	font-size: .8em;
}
	
}