@font-face {
    font-family: 'Skolar';
    src: url('../font/skolar-regular-pvt-webfont.eot');
    src: url('../font/skolar-regular-pvt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/skolar-regular-pvt-webfont.woff') format('woff'),
         url('../font/skolar-regular-pvt-webfont.ttf') format('truetype'),
         url('../font/skolar-regular-pvt-webfont.svg#skolarregular') format('svg');
    font-weight: normal;
    font-style: normal;

}